@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    background-color: #f2f6fc;
}

.btn-purple {
  color: #fff;
  background-color: #4e73df;
  border-color: #4e73df;
}

.btn-purple:hover {
  color: #fff;
  background-color: #2e59d9;
  border-color: #2653d4;
}

.btn-purple.focus,
.btn-purple:focus {
  color: #fff;
  background-color: #2e59d9;
  border-color: #2653d4;
  box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
}

.btn-purple.disabled,
.btn-purple:disabled {
  color: #fff;
  background-color: #4e73df;
  border-color: #4e73df;
}

.card-prayer-time {
    height: 202.2px;
}

.card-train-arrival {
    height: 304px;
    overflow-y: scroll;
}

.card-quote {
    @extend .card-train-arrival;
    background-color: #4e73df;
    background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
    background-size: cover;
    color: white;
}
